<%= form_with(model: appartament) do |form| %>
  <% if appartament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appartament.errors.count, "error") %> prohibited this appartament from being saved:</h2>

      <ul>
        <% appartament.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <br>

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :name, class: 'form-label'%>
          <%= form.text_field :name, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :place, class: 'form-label' %>
          <%= form.text_field :place, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :address, class: 'form-label' %>
          <%= form.text_field :address, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :phone, class: 'form-label' %>
          <%= form.text_field :phone, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :site, class: 'form-label' %>
          <%= form.text_field :site, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :beds, class: 'form-label' %>
          <%= form.number_field :beds, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :cost, class: 'form-label' %>
          <%= form.number_field :cost, class: 'form-control' %>
        </div>
      </div>
    </div>
        
    <div class="actions btn btn-primary">
      <%= form.submit %>
    </div>
  </div>
  
<% end %>
