<%= form_with(model: appartament) do |form| %>
  <% if appartament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appartament.errors.count, "error") %> prohibited this appartament from being saved:</h2>

      <ul>
        <% appartament.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container">
    <div class="row">
      <div class="col-sm form-label">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
    </div>
  </div>
      

  <div class="form-label">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-label">
    <%= form.label :place %>
    <%= form.text_field :place %>
  </div>

  <div class="form-label">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="form-label">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="form-label">
    <%= form.label :site %>
    <%= form.text_field :site %>
  </div>

  <div class="form-label">
    <%= form.label :beds %>
    <%= form.number_field :beds %>
  </div>

  <div class="form-label">
    <%= form.label :cost %>
    <%= form.number_field :cost %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
